@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Doppio+One);
@import url(http://fonts.googleapis.com/css?family=Dosis:600);
@import url(http://fonts.googleapis.com/css?family=Share);
@import url(http://fonts.googleapis.com/css?family=Cuprum);
@import url(http://fonts.googleapis.com/css?family=Duru+Sans);
@import url(http://fonts.googleapis.com/css?family=Merienda);
@import url(http://fonts.googleapis.com/css?family=Courgette);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);
/*font-family: 'Doppio One',Dosis,Share,'Cuprum', 'Duru Sans','Alice','Courgette', 'Roboto Condensed',  sans-serif;*/
/*font-family: 'Merienda', cursive;*/
body{ margin:0; font-family:Arial, Helvetica, sans-serif; font-size:12px; background:url(../images/sakthipoly-pack-back-ground.jpg) top center repeat; margin-top:25px;}
img{ border:0;}
.bannerback{ background:url(../images/banner-back.jpg) center top no-repeat; height:420px;}
.bannerback1{ background: url(../images/banner-about.jpg) center top no-repeat; height:305px;}
.bottom{ background:url(../images/line.jpg) bottom left repeat-x;}

.menu{margin:0px; padding:0px;}
.menu ul{ font-family:"Doppio One", Arial, Helvetica, sans-serif; font-size:14px; color:#ededed; margin:0; padding:0; line-height:49px}
.menu ul li{ float:left; list-style:none; padding:0; margin:0px 5px; text-transform:uppercase; font-weight:550;}
.menu ul li a{ color:#ededed; text-decoration:none; text-align:center; padding:2px; display:block;}
.menu ul li a:hover{color:#191919; text-decoration:none; text-align:center; padding:1px; border:#FFFFFF solid 1px; background:#e8e8e8;}
.menu ul li a.current{color:#191919; text-decoration:none; text-align:center; padding:1px; border:#FFFFFF solid 1px; background:#e8e8e8;}

.menu1{ margin:0; padding:0;}
.menu1 li{ margin:0; padding:0; float:left; list-style:none; line-height:40px; margin-right:0px;font-family:"Cuprum", Arial, Helvetica, sans-serif; font-size:14px;}
.menu1 li a{ padding:0px 10px; display:block; text-decoration:none; color:#000;}
.menu1 li a:hover{ color:#f47321;}
.menu1 li a.bottom{ color:#f47321; }

.about1{  font-family:"Quando",Trebuchet MS, Arial, Helvetica, sans-serif; font-size:16px; color:#fff; line-height:30px; padding-left:10px;}
.about1:hover{  font-family:"Quando",Trebuchet MS, Arial, Helvetica, sans-serif; text-decoration:none; font-size:16px; color:#fff; line-height:30px; padding-left:10px;}

h1{ margin:0px; border:0px; font-family:"Duru Sans"Arial, Helvetica, sans-serif; font-size:18px; color:#fff; text-transform:uppercase;}
h2{ margin:0; padding:0; font-size:34px; font-weight:normal; font-family:"Dosis", Arial, Helvetica, sans-serif;}
h3{ margin:0px; border:0px; font-family:"Aldrich",Tahoma, Geneva, sans-serif; font-size:20px; color:#0b61b0; line-height:30px;}
h4{ margin:0px; border:0px; font-family:"Roboto Condensed",Tahoma, Geneva, sans-serif; font-size:12px; color:#FFF; line-height:30px; text-decoration:none;}

.justify{font-family: Arial, Helvetica, sans-serif; font-size:13px;color:#000;line-height:25px;text-align:justify; text-decoration:none;}

.justify1{font-family: Arial, Helvetica, sans-serif; font-size:13px;color:#000;line-height:25px;text-align:justify; text-decoration:none; color:#093}
.Example_F {-moz-box-shadow: 0 0 5px 5px #e6e6e6;-webkit-box-shadow: 0 0 5px 5px#e6e6e6;box-shadow: 0 0 5px 5px #e6e6e6; padding:11px; }
.logoback{ background:url(../images/logo-back.jpg) top left no-repeat; height:111px;}

ul.navbar {	margin: 0;	padding: 0;	list-style: none;	display: table;	width: 100%;	text-align:center;	line-height:49px;	border: solid 1px #cfcfcf;	border-right:none;}
ul.navbar li { font-size:16px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; display:table-cell;	margin: 0;	padding: 0;	border-right: solid 1px #cfcfcf; text-transform:uppercase;}
ul.navbar li a {display: block;	color:#fff;	text-decoration:none; }
ul.navbar li a:hover {display: block;	color:#fff;	text-decoration:none; background:url(../images/line-on.jpg) left repeat-x; }
ul.navbar li a.current1 {display: block; color:#fff;	text-decoration:none; background:url(../images/line-on.jpg) left repeat-x; }

.homewelcom{ font-family:"Duru Sans"Arial, Helvetica, sans-serif; font-size:22px; color:#3f3f3f; font-weight:bold; text-transform:uppercase;}
.homewelcom1{ font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#fff;text-transform:uppercase; font-weight:bold;}

.men{	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;	font-size: 12px;	font-weight: bold;	text-transform: uppercase;	color: #3b3b3b;	text-decoration: none;}
.mennoline{	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;	font-size: 12px; font-weight: bold;	text-transform: uppercase;	color: #FFF; text-decoration: none;}
.menunderline{	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;	font-size: 12px;	font-weight: bold;	text-transform: uppercase;	color: #3b3b3b;	text-decoration: underline;}
.men:hover{	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;	font-size: 12px;font-weight: bold;text-transform: uppercase;	color: #3b3b3b;text-decoration: underline;}
.mentextlinee{font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;font-size: 12px;font-weight: bold;text-transform: uppercase;color: #3b3b3b;text-decoration: none;}